<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">
  <test name="Signup test">
    <classes>
      <class name="testcases.testng.Priority"/>
      <class name="testcases.testng.SoftAssertion"/>
      <class name="testcases.testng.Dependency"/>
    </classes>
  </test>
  <test name="Login test">
    <classes>
      <class name="testcases.testng.Dependency"/>
      <class name="testcases.testng.Priority"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
